<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

    <div class="container">
        <h1>Редактирование</h1>
        <div th:each="data : ${phone}">
            <form method="post">
                <input type="text" th:value="${data.fio}" name="fio" placeholder="ФИО владельца" class="form-control"><br>
                <input type="text" th:value="${data.num}" name="num" placeholder="Номер телефона" class="form-control"><br>
                <button type="submit" class="btn btn-success">Обновить</button>
            </form>
        </div>
    </div>

</body>
</html>